@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    height: 100vh;
    gap:50px;
    background-color:#16161a;
}

.form{
    display:flex;
    flex-direction: column;
    height: 100vh;
    gap:25px;
    background-color:#16161a;
}

.heading h2{
    font-family: "poppins";
    color: orangered;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.inputtag{
    display: flex;
    flex-direction: column;
}

input{
    padding:10px 10px;
    width:300px;
    border:1px solid black;
    border-radius: 20px;
    background-color:#242629;
    color:#fffffe;
    font-family: "manrope";
}

label{
    color:#fffffe;
    font-family: "manrope";
    font-size: small;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: orangered;
    border:1px solid black;
    padding:10px 15px;
    width:100%;
    border-radius: 10px;
    /* font-family: "manrope"; */
    color:black;
}

.page{
    display: flex;
    justify-content: center;
}

.options h2{
    font-family: "poppins";
    cursor: pointer;
}

.options{
    display: flex;
    gap:50px;
}